---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

$accent-color: #00838a !default;
$monospace-font-family: Menlo, Consolas, Monaco, "Courier New", Courier, monospace !default;
/* $text-color: #181c22 !default; */

/*
   Layout specific adjustments
   ========================================================================== */
.entry-content {
    @include breakpoint($large) {
        width: span(14 of 16);
    }
}

.entry-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    @include breakpoint($medium) {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

.entry-content {
    @include breakpoint($medium) {
        -ms-flex: 1;
        flex: 1;
    }
}

.entry-sidebar {
    order: -1;
    -ms-flex-order: -1;

    @include breakpoint($medium) {
        order: initial;
        -ms-flex-order: initial;
    }

    .author-picture {
        margin: 0 0 2rem;
        border-radius: 2 * $border-radius;

        @include breakpoint($medium) {
        margin: 0 0 0 2rem;
        }
    }
 }
